/* pagina artistas */
.container {
	@include dimensiones (100%, 100%);
}

.row {
	@include dimensiones (100%, 100%);
}

.card {
	border-radius: 20px;
	padding: 2%;
	margin: 8px;
	box-shadow: 4px 4px 4px 0px rgb(246, 224, 242, 0.70);
	font-size: 14px;

	img {
		border-radius: 20px;
	}
}