/* footer */
footer {
	background-color: $background-color_2;
	color: $color_2;
	vertical-align: bottom;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: $font-family_2;
	font-size: 10px;

	p {
		margin-bottom: 0;
	}
}

.redes {
	display: inline-block;
	position: relative;
	bottom: 25px;
	left: 40%;

	img {
		fill: white;
		background-color: $background-color_1;
		padding: 3px;
		border-radius: 100%;

		&:hover {
			background-color: $background-color_4;
			transform: scale(1.2, 1.2);
			transition: 1s;
		}
	}
}

.whatsapp {
	position: fixed;
	@include dimensiones (60px, 60px);
	bottom: 40px;
	right: 40px;
	background-color: $background-color_6;
	color: $color_6;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
}

.whatsapp-icon {
	margin-top: 13px;
}