/* variables globales */
$color_1: rgb(58, 49, 116);
$color_2: white;
$color_3: aqua;
$color_4: #ff3488;
$color_5: black;
$color_6: #FFF;
$font-family_1: 'aclonica-local';
$font-family_2: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: white;
$background-color_2: black;
$background-color_3: #ff3488;
$background-color_4: aqua;
$background-color_5: #d93e40ac;
$background-color_6: #25d366;
$background-color_7: #ff348985;
$background-color_8: rgba(0, 255, 255, 0.100);
$border-color_1: black;
$border-color_2: rgba(0, 255, 255, 0.100);
$border-color_3: grey;